<div style="margin-top: 10px; margin-left: 10px">
  <p>Angular Material Form</p>

  <mat-card class="example-card">
    <mat-card-header> </mat-card-header>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </mat-card>
</div>
